  .signUpBtn {
  width: 100% !important;
  display: block !important;
  padding-right: 60px;
  margin :0 ;
  align-items: center;
    margin-left: 25px;
}
.donthaveAccount span {
    color: #0E59F2;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.donthaveAccount span:hover {
    opacity: 0.8;
}
